:root {
    --color-light-primary:#0984e3;
    --color-light-secondary:#34495e;
    --color-light-tertiary:#00ADB5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: open-sans, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(../assets/login-bg.jpg);
}

.login-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 80%;
    height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-body {
    margin: 1em;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recover {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
}

.recover__steps {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    color: #636e72;
}

.recover__steps--active {
    color: #2d3436;
}

.recover__steps:hover {
    background: #dfe6e9;
}

.recover__steps-number {
    padding: 9px;
    border-radius: 50%;
    background: #95a5a6;
    color: white;
}

.recover__steps-number--active {
    background: #3498db;
}

.login-form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-light-primary);
}

.login-title {
    user-select: none;
    margin: 1em;
    color: #0984e3;
}

.login-label {
    font-size: 12px;
    font-weight: bold;
}

.login-input {
    width: 100%;
    height: 50px;
    margin: 1em 0 1em 0;
    padding: 1em;
    outline: none;
    border: none;
    border-left: 5px solid var(--color-light-primary);
    background: whitesmoke;
    color: #2d3436;
}

.login-input:focus {
    border-left: 5px solid var(--color-light-tertiary);
}

.login-show-password {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 1.1em;
}

input {
    margin: 1em 0 1em 0;
}

.login__group {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.login-button {
    width: 30%;
    height: 40px;
    margin-top: 1em;
    background: var(--color-light-primary);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: white;
    border: 1px solid #74b9ff;
    position: relative;
    overflow: hidden;
    transition: .5s all;
    border-radius: 5px;
}

.login-button--return {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.login-button:hover {
    color: white;
    background: #2c3e50;
}

#menu-state:target ~ .menu__item-estate {
    display: block;
}
