:root {
    --primary-color: #3F72AF;
    --secondary-color: #DBE2EF;
    --tertiary-color: #F9F7F7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-areas: 
        "menu main"
    ;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h1 {
    text-align: center;
    color: #2d3436;
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 5px;
    background: #ecf0f1;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.form-group {
    width: 100%;
    display: flex;
    margin: 10px;
    gap: 20px;
    justify-content: center;
}

.form-group div {
    flex-grow: 1;
}

input, select {
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
    outline:none;
    border: 1px solid #ccc;
    flex-grow: 1;
}

input:disabled, select:disabled {
    background: #dfe6e9;
    color: #636e72;
}

.form-button {
    background: #3498db;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: .3s background;
}

.form-button:hover {
    background: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #4caf50; /* Color de fondo verde para el encabezado */
    color: white; /* Texto blanco en el encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo gris claro para filas pares */
}

tr:hover {
    background-color: #a5d6a7; /* Color de fondo verde suave al pasar el mouse */
}