:root {
    --primary-color: #3F72AF;
    --secondary-color: #DBE2EF;
    --tertiary-color: #F9F7F7;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-areas: 
        "menu main"
    ;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

.main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 60%;
    padding: 1em;
}

.form-container h2 {
    color: #2d3436;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    border-radius: 10px;
}

.input-container {
    width: 100%;
}

.input-container--name {
    grid-column: span 2;
}

.input-container--description {
    grid-column: span 2;
}

textarea {
    cursor: text;
    resize: none;
    color: #111827;
    background: #f9fafb;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 10px;

}

.form-group--button {
    display: flex;
    justify-content: right;
    gap: 1em;
    align-items: flex-end;
    flex-grow: 1;
    grid-column: span 2;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    color: #111827;
}

.form__input {
    padding: 10px;
    border-radius: 0.5rem;
    background: none;
    outline:none;
    border: 1px solid #ccc;
    color: #111827;
    background: #f9fafb;
    width: 100%;
}

.form__input:focus, textarea:focus {
    box-shadow: 0 0 0 2px rgba(40, 108, 255, 0.863);
}

select.form__input, input[type="date"] {
    cursor: pointer;
}

div.form__input {
    user-select: none;
}

input:disabled, select:disabled {
    background: #dfe6e9;
    color: #636e72;
}

.form-button {
    background: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    transition: .3s background;
}

.form-button--decline {
    background: #ee5253;
    color: white;
}

.form-button--accept {
    color: white;
    background-color: #3498db;
    border: 1px solid #3498db;
}

.form-button--decline:hover {
    background: #c0392b;
}
