:root {
    --primary-color: #2d3436;
    --secondary-color: #b2bec3;
    --tertiary-color: #F9F7F7;
    --menu-color: #f5f6fa;
    --menu-color-secondary: #2d3436;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.main__header {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    color: #2c3e50;
}

.notification {
    font-size: 20px;
    margin: 1em;
    width: 30%;
    position: relative;
    text-align: right;
}

.notification > i {
    cursor: pointer;
}

.notification__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #0984e3;
    align-items: start;
    border-radius: 10px;
}

.notification__menu-item {
    padding: .8em;
    font-size: 16px;
    text-decoration: none;
    color: #ecf0f1;
    border-radius: 10px;
    display: flex;
    gap: .8em;
}

.main {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

.main__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    padding: .5em;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.main__stats--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;

}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #0984e3; /* Color de fondo verde para el encabezado */
    color: white; /* Texto blanco en el encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo gris claro para filas pares */
}

tr:hover {
    background-color: #74b9ff; /* Color de fondo verde suave al pasar el mouse */
}

.table__icon--check {
    color: green;
}

.table__icon--decline {
    color: #d63031;
}
.card__body {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.card__footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    align-self: flex-end;
    backdrop-filter: blur(3px);
}

.card__footer a {
    color: #0984e3;
    padding: .8em;
    border: 1px solid #74b9ff;
    background: var(--tertiary-color);
    text-decoration: none;
    border-radius: 5px;
    transition: .5s transform;
    text-transform: capitalize;
}

.card__footer a:hover {
    transform: scale(1.1);
}

