:root {
    --primary-color: #2d3436;
    --secondary-color: #b2bec3;
    --tertiary-color: #F9F7F7;
    --menu-color: #f5f6fa;
    --menu-color-secondary: #2d3436;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: grid;
    grid-template-areas: 
        "menu main"
    ;
    grid-template-columns: 300px 1fr;
}

.main {
    grid-area: main;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main__header {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    color: #2c3e50;
}

/* Notificaciones */

.notification {
    font-size: 20px;
    margin: 1em;
    width: 35%;
    position: relative;
    text-align: right;
}

.notification > i {
    cursor: pointer;
    padding: .5em;
    border-radius: 50%;
    transition: .3s all;
    background: whitesmoke;
}

.notification__menu {
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    background: whitesmoke;
    border-radius: 5px;
    z-index: 1000;
    gap: .5em;
    padding: 5px;
    border: 1px solid #bdc3c7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    user-select: none;
}

.notification__menu--visible {
    display: flex;
}

.notification__menu:hover .fa-ghost {
    animation: 2s linear 0s infinite alternate bounce;
}

.notification__menu-item {
    padding: .8em;
    font-size: 16px;
    color: black;
    display: flex;
    width: 100%;
    gap: 1em;
    text-align: start;
    border-radius: 5px;
    align-items: center;
}

.notification__menu-info {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.notification__menu-sender {
    color: black;
}

.notification__menu-message {
    font-size: .9rem;
    color: #34495e;
}

.notification__menu .fa-file-alt {
    color: #2c3e50;
}

.notification__menu-item:hover {
    background: #dfe6e9;
}

.notification__menu-item--empty {
    padding: .8em;
    background: #0984e3;
    font-size: 16px;
    color: #ecf0f1;
    border-radius: 10px;
    display: flex;
    gap: .8em;
    display: flex;
}

/* Estadisticas de bienes, solicitudes y dependencias */

.main__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: .5em;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.stats__item {
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: black;
    position: relative;
    display: grid;
    grid-template-areas: 
        "content"
        "icon"
    ;
    grid-template-rows: 1fr 40px;
    grid-template-columns: 1fr;
    overflow: hidden;
    cursor: pointer;
}

.stats__item-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2c3e50;
    background-repeat: no-repeat;
}

.stats__item:hover .stats__item-content {
    background-size: 150%;
}

.stats__item-content h3 {
    color: #2c3e50;
}

.content__info {
    margin: 0 1em;
    font-weight: bolder;
    color: #2980b9;
}

.stats__item::after {
    opacity: 0;
    content: "";
    z-index: 1;
    position: absolute;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    transition: opacity .5s;
}

.stats__item-link {
    opacity: 0;
    position: absolute;
    background-color: white;
    color: #2980b9;
    align-self: center;
    z-index: 99;
    transition: opacity .5s, transform .3s ease-in-out;
    justify-self: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    padding: 10px 20px; 
    transform: translateY(50%);
}

.stats__item-link:active {
    background-color: #3498db; /* Color de fondo al hacer clic */
    color: #ffffff; /* Color del texto al hacer clic */
}

.stats__item:hover .stats__item-link, .stats__item:hover::after {
    opacity: 1;
}

.stats__item:hover .stats__item-link {
    transform: translateY(0);
}

.stats__item-icon {
    grid-area: icon;
    height: 100%;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: #2980b9;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #bdc3c7;
    padding: 2em;
    border-radius: 10px;
}

.nav__item {
    display: flex;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    gap: 1em;
    text-align: center;
    position: relative;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ddd;
    transition: .3s all;
    border-radius: 10px;
}

.nav__item:hover {
    transform: translateY(-5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 36px;
}

.nav__item-icon {
    padding: .8em;
    background: white;
    border-radius: 50%;
    color: #3498db;
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    transform: translateY(-30px);
    border: 1px solid #ddd;

}

.nav__item-textBox {
    color: #2d3436;
    font-size: 13px;
    position: relative;
    margin: 28px 0;
    align-self: flex-end;
    width: 100%;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
    max-height: 80px;
}

th, td {
    padding: 10px;
    border: 1px solid #ced6e0;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
}

th {
    color: #2980b9; /* Texto blanco en el encabezado */
    background: #ecf0f1;
}

tr {
    background: #ecf0f1;
    color: #34495e;
    transition: .3s background;
}

tr:nth-child(even) {
    background-color: #bdc3c7;
    color: #2d3436;
}

tr:hover {
    background-color: #95a5a6; /* Color de fondo verde suave al pasar el mouse */
}

.table__icon--check {
    color: #2ecc71;
}

.table__icon--decline {
    color: #d63031;
}

.card {
    background: #f5f6fa;
    padding: .4em;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card__body {
    overflow-y:auto;
    display: flex;
    position: relative;
    width: 100%;
    text-wrap: nowrap;
    flex-grow: 1;
    border: 1px solid #ddd;
    border-top: none;
    background: #f1f2f6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: .3em .5em;
}

.card__header a {
    background-color: #0984e3;
    color: #ffffff;
    border-color: #ffffff;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s;
}

.card__header a:hover {
    background-color: #0097e6;
}

.card__header h3 {
    margin: 0;
    font-size: 1.5em;
    color: #2c3e50;
    user-select: none;
}

.card__footer {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 20%;
    backdrop-filter: blur(3px);
    width: 100%;
    align-self: flex-end;
}

.card__footer a {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: .8em;
    border: none;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s all;
    text-transform: capitalize;
}

.card__footer a:hover {
    transform: scale(1.05);
    background-color: #0097e6;
}

.myEstate__message {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.myEstate__message p {
    font-size: 1.2em;
    color: #343a40;
    margin: 10px 0;
}

.myEstate__message i {
    font-size: 2em;
    color: #007bff;
    margin-top: 10px;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0);
    }
  }

@media(max-width: 700px) {
    body {
        font-size: 12px;
    }

    .container {
        grid-template-areas: 
            "main"
        ;
        grid-template-columns: 98%;
    }

    .main {
        width: 100%;
        margin: 0;

    }

    .menu, .menu__footer {
        display: none;
    }

    .main__cards {
        font-size: .7em;
    }
}

