:root {
    --primary-color: #2d3436;
    --secondary-color: #b2bec3;
    --tertiary-color: #F9F7F7;
    --menu-color: #f5f6fa;
    --menu-color-secondary: #2d3436;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-areas: 
        "menu header"
        "menu main"
    ;
    grid-template-columns: 300px 1fr;
}

.menu__item {
    text-decoration: none;
    color: var(--menu-color-secondary);
    display: flex;
    cursor: pointer;
    display: flex;
    padding: .8em;
    justify-content: left;
    width: 90%;
    border-radius: 10px;
    user-select: none;
}

.main {
    grid-area: main;
    margin: 0 10px;
}

.main__header {
    display: flex;
    align-items: center;
    gap: 1em;
    border-bottom: #dfe6e9 1px solid;
    grid-area: header;
    padding: 0 10px;
}

.main__header-title {
    display: flex;
    flex-direction: column;
}

.main__header-currentDir {
    font-size: 12px;
    color: #34495e;
}

#menu-request:target ~ .menu__item-request {
    display: block;
}

.main__header-currentDir--pre {
    color: #3498db;
    cursor: pointer;
    user-select: none;
}

.main__header i {
    color: #3498db;
    font-size: 20px;
    border: 1px solid ccc;
}

.main__header h2 {
    color: #2c3e50;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.myEstates {
    height: 600px;
    border-radius: 5px;
    background: #f5f6fa;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    overflow-y: scroll;
    user-select: none;
}

.myEstates__header {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    align-items: center;
    display: flex;
    background: #f5f6fa;
    justify-content: space-between;
    border-bottom: #ddd 1px solid;
    z-index: 100;
}

.myEstates__header-title {
    display: flex;
    width: 50%;
    gap: 1em;
    align-items: center;
}

.myEstates__header-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #34495e;
}

.myEstates__header-title b {
    color: #2c3e50;
}

.myEstates__header-logo {
    width: 60px;
    border-radius: 50%;
    border: 1px solid white;
}

.myEstates__header-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    color: #34495e;
}

.myEstates__header-info h4 {
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    cursor: pointer;
    width: 100%;
}

.myEstate__message {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.myEstate__message p {
    font-size: 1.2em;
    color: #343a40;
    margin: 10px 0;
}

.myEstate__message i {
    font-size: 2em;
    color: #007bff;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
}

th {
    color: #2980b9; /* Texto blanco en el encabezado */
    background: #ecf0f1;
    position: sticky;
    top: 0;
}

tr {
    background: #dfe4ea;
}

.estate__item--clicked {
    height: 200px;
    overflow-wrap: anywhere;
}

tr:nth-child(even) {
    background-color: #f1f2f6
}

tr:hover {
    background-color: #bdc3c7;
}

.table__icon--check {
    color: green;
}

.table__icon--decline {
    color: #d63031;
}

.estate-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__pending-estatus {
    border-bottom: 1px dashed #95a5a6;
}

.estate-status:hover .table__pending-estatus {
    visibility: hidden;
}

.estate-status:hover .table__icon-delete--pending {
    visibility: visible;
}

.table__icon--delete {
    color: #d63031;
}

.table__icon-delete--pending {
    position: absolute;
    visibility: hidden;
}

@media print {
    body * {
        visibility: hidden;
    }

    .myEstates {
        visibility: visible;
        position: absolute;
        overflow: hidden;
        margin: 0;
        left: 0;
        top: 0;
        height: auto;
        overflow-wrap: anywhere;
    }

    .table-actions {
        display: none;
    }

    .myEstates * {
        visibility: visible;
    }

    #goodsTable {
        margin-top: 0px;
    }
}

@page { size: landscape; }