body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-areas: 
        "menu main"
    ;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 90%;
    border: 1px solid #bdc3c7;
}

.form h1 {
    color: #2c3e50;
}

.form h3 {
    color: #7f8c8d;
    font-size: 14px;
    font-weight: lighter;
}

label {
    display: block;
    margin-bottom: 8px;
}

.input-container {
    position: relative;
    margin: 20px 0;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
}

.button__group {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 1em;
    margin-top: 1em;
}

.input__button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #3498db;
}

.input__button--cancel {
    background: white;
    color: black;
    border: 1px solid #ccc;
}

.placeholder {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    transition: 0.3s;
    pointer-events: none;
    color: #aaa;
}

.placeholder--category {
    top: -2px;
    font-size: 12px;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    transition: 0.3s;
    color: #34495e;
    user-select: none;
}

.input:focus + .placeholder,
.input:not(:placeholder-shown) + .placeholder {
    top: -2px;
    left: 10px;
    font-size: 12px;
    color: #3498db;
}

input[type="text"], input[type="date"], input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

textarea {
    resize: none;
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Ajusta la altura según sea necesario */
    padding: 10px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de la fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
}

.tipo {
    width: 40%;
}

#description {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 1em;
    height: 50px;
    padding: .5em;
    margin-bottom: 1em;
}

#description input[type="text"] {
    padding: 5px;
    margin-bottom: 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #636e72;
    border-radius: 0px;
}

#description span {
    background: #dfe6e9;
    padding: 5px;
}

